// Patient Sign Up Form Start

main.create-patient {
  form#create-doctor {
    max-width: 500px !important;
    text-align: left;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      visibility: hidden;
    }

    div.upload {
      padding: 20px;
      width: 100%;
      max-width: 500px;
      margin: auto;

      h2 {
        color: #141414;
      }

      div {
        img {
          max-width: 40%;
          margin-top: 10px;
          border-radius: 50%;
          aspect-ratio: 1;
          object-fit: cover;
        }
      }
    }

    display: flex;
    flex-direction: column;
    align-items: start;

    input,
    select {
      width: 100%;
      margin-top: 0;
      color: #05292e;
    }


    select {
      border: 1px solid #1b084e;
      border-radius: 50px;
      padding: 0.5rem 0.8rem;
      font-weight: 700;
    }


    label {
      margin-bottom: 0;
      padding-bottom: 0.3rem;
      text-align: left;
      position: relative;
      left: 0;
    }

    .password {
      width: 100%;
      position: relative;

      button {
        position: absolute;
        top: 50%;
      }
    }

    p {
      margin-top: 1rem;
    }

    .submit {
      margin-top: 0.4rem;
    }
  }
}

@media screen and (width < 800px) {
  main.create-patient {
    form#create-doctor {
      input {
        margin-top: 0.6rem;
      }

      .password {
        button {
          top: 30% !important;
        }
      }

      .submit {
        margin-top: 2rem;
      }
    }
  }
}

// Patient Sign Up Form End

// Gender Group Start
#gender {
  display: flex !important;
  // justify-content: center;
  gap: 1rem;
  max-width: 100%;

  label {
    margin: 0;
    display: flex !important;
    align-items: center !important;
    gap: 0.6rem;
    color: #3a3737ee;
    font-weight: 500;

    input {
      min-width: 20px !important;
      margin: 0 !important;
      position: relative;
      top: 34%;
    }
  }
}

@media screen and (width > 1000px) {
  #gender {
    label {
      input {
        top: 0;
      }
    }
  }
}

// Gender Group End

// Doctor Sign Up Form Start
main.create-doctor {
  form#create-doctor {
    padding-block: 1rem;

    .stage-container {
      max-width: 500px !important;
      padding-bottom: 2rem;

      .stages {
        display: flex;
        flex-direction: column !important;
        align-items: start;

        .password {
          width: 100%;
          position: relative;

          button {
            position: absolute;
            top: 55%;
          }
        }

        label {
          padding-bottom: 0.4rem;
        }

        input,
        select {
          width: 100%;
          color: #05292e;
        }

        select {
          border: 1px solid #1b084e;
          border-radius: 50px;
          padding: 0.5rem 0.8rem;
          font-weight: 700;
        }

        #custom-category {
          margin-top: 1rem;
        }

        #scheduler-container {
          max-width: 100% !important;
        }
      }
    }

    #pagination {
      width: 100%;
      max-width: 500px;
    }
  }
}

@media screen and (width < 800px) {
  main.create-doctor {
    form#create-doctor {
      .stage-container {
        margin-top: 0.5rem;

        input {
          margin-top: 0.5rem;
        }
      }

      .password {
        button {
          top: 30% !important;
        }
      }
    }
  }
}

// Doctor Sign Up Form End