div.notification {
  ul.notifications {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
    gap: 1rem;

    li {
      display: flex;
      width: 100%;
      align-items: start;
      justify-content: space-between;
      gap: 1.7rem;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      background: rgba(58, 65, 105, 0.445);

      div {
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 1.46rem;
        }

        p {
          line-height: 1.2rem;
          font-size: 1.2rem;
          margin-bottom: 0.6rem;
        }
      }

      button {
        color: #fff;
        background: rgba(57, 47, 44, 0.254);

        font-size: 1.3rem;
        border-radius: 50px;

        border: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        i {
          position: relative;
          top: 3px;
        }

        &:hover {
          background: linear-gradient(red, orangered);
        }
      }
    }
  }
}




#notification-icon {



  &:hover {
    i {
      animation: new-notification 1.8s alternate !important;
    }
  }


  #newNotification {
    transform-origin: center 0;
    animation: new-notification 2s infinite ease-out;
  }

}





#notification-popup {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transform: translateX(200%);

  padding: 1.5rem;
  border-radius: 20px;

  color: #000000ca;
  background: #fff;

  animation: notification 1s alternate, hideNotification 8s alternate;
  text-decoration: none;

  .progress {
    width: 0%;
    height: 3px;

    position: absolute;
    bottom: 0;
    background: red;

    animation: progress 8s alternate;
  }
}

@keyframes notification {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes hideNotification {

  0%,
  90% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(200%);
  }
}

@keyframes progress {
  from {
    width: 0%;
  }

  to {
    width: calc(100% - 3rem);
  }
}

@keyframes new-notification {

  0%,
  100% {
    rotate: 0deg;
    scale: 1;
  }

  10% {
    rotate: 7deg;
    scale: 1.1;
  }

  20% {
    rotate: -7deg;
    scale: 1.1;
  }

  30% {
    rotate: 7deg;
    scale: 1.1;
  }

  40% {
    rotate: -7deg;
    scale: 1.1;
  }

  60% {
    rotate: 3deg;
    scale: 1.1;
  }

  80% {
    rotate: -3deg;
    scale: 1.1;
  }
}