div#err-404 {
    background: #fff;
    color: #144859;

    width: 100vw;
    height: 100vh;
    max-height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;



    h1 {
        color: transparent !important;
        background: linear-gradient(-170deg, #ffc800, #ff3300, #ff0000);
        background-clip: text !important;
        -webkit-background-clip: text;
        min-width: fit-content;

        text-shadow: 1px 1px 2px rgba(255, 180, 100, 0.479);
    }

    h3 {
        margin-top: 01rem;
        font-weight: 600;
        color: #144859ca;
    }

    p {
        font-weight: 600;
        color: #19708db3;
    }

    img {
        width: 80vw;
        max-width: 270px;
    }

    a {

        button {

            padding: 1rem 2rem;
            margin-top: 2rem;
            border: 0;
            border-radius: 12px;
            font-size: 1rem;
            cursor: pointer;

            color: #fff;


            background: linear-gradient(to right bottom, #1e708c, #10a5d6);
            box-shadow: 1px 1px 30px #25b3e3;

            &:hover {
                color: #fff;
                background: linear-gradient(to right bottom, #144859, #1e87ab);
                box-shadow: 0px 0px 10px #1e708cb3;
            }
        }
    }
}